<div class="container">
	<div class="row">
		<div class="col-xs-12
					col-sm-12 
					col-md-12 
					col-lg-12 
					col-xl-12 ">
			<div class="page-header">
				<h1 class="text-center"><strong>Task Manager</strong></h1>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12
						col-sm-12 
						col-md-12 
						col-lg-12 
						col-xl-12">
				<ul class="nav nav-tabs">
					<li routerLinkActive="active"><a [routerLink]="['/signup']">Sign up</a></li>
					<li routerLinkActive="active"><a [routerLink]="['/login']">Login</a></li>
					<li><a href="#">Logout</a></li>
					<li><a href="#">Team manager</a></li>
					<li routerLinkActive="active"><a [routerLink]="['/tasks']">tasks management</a></li>
					<li routerLinkActive="active"><a [routerLink]="['/summary']">Summary</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

